#root {
    display: flex;
    justify-content: center;
}

.grid {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.tile {
    padding: 5px;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
}

.explored, .bombed {
    border-style: inset;
}

.unexplored, .flagged {
    border-style: outset;
}