<h1>Login to MusicApp</h1>
<form action="<%= session_url %>" method=POST>

<label>E-mail:
    <input type="text" name="user[email]" value="<%=  %>">
</label>
<br>
<label>Password:
    <input type="password" name="user[password]" value="">
</label>
<br>
<input type="submit" value="Enter">