<div class="masthead">
    <ul class="language-nav">
        <li><a href="">CSS</a></li>
        <li><a href="">HTML</a></li>
        <li><a href="">Javascript</a></li>
        <li><a href="">Ruby</a></li>
    </ul>

    <img src="assets/AA_Times_Logo.png" class="logo">

    <ul class="masthead-links">
        <li>Tuesday, October 18, 2016</li>
        <li><i class="fa fa-newspaper"></i>Today’s Paper</li>
        <li><i class="fa fa-video"></i>Video</li>
        <li>77°F</li>
        <li>AAO <span id="stonks">+100%</span></li>
    </ul>
</div>