// Use the gear_dropdown.png screenshot as a style guide
#gear-dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
    display: none;
    padding: 10px;

}

#gear-icon-btn #gear-dropdown{ // needs :hover
    display: block;
    position: absolute;
    right: 100px;
    top: 30px;
    width: 100px;
    z-index: 10;
    background-color: white;
    box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
    font-family: $sans-serif;
}

.editions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.help {
    display: flex;
    flex-direction: column;
    border-top: solid 1px black;
}



// #gear-icon-btn i:hover {
//     background-color: grey;
// }